[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-bitvault
Exec=harbour-bitvault
Name=BitVault

[X-Sailjail]
OrganizationName=xyz.eggerts
ApplicationName=harbour-bitvault
Permissions=Internet
